<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- ElastiCache -->
    <section name="clusterclient" type="Amazon.ElastiCacheCluster.ClusterConfigSettings, Amazon.ElastiCacheCluster" />
    <sectionGroup name="enyim.com">
      <!-- Memcached -->
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection,Enyim.Caching" />
      <section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <!-- ElastiCache -->
  <clusterclient>
    <endpoint hostname="[Add your ElastiCache cluster endpoint here]" port="11211" />
    <node nodeTries="5" nodeDelay="1000" />
    <poller intervalDelay="60000" />
  </clusterclient>
  <!-- Memcached -->
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
    </memcached>
    <log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />
  </enyim.com>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <extensions>
      <add assembly="LogentriesNLog" />
    </extensions>
    <targets>
      <target name="LogFile" xsi:type="File" fileName="application.log" />
      <target name="Logentries" xsi:type="Logentries" debug="true" httpPut="false" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} : ${LEVEL}, ${message}" token="[Add your Logentries log token here]" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="LogFile" />
    </rules>
  </nlog>
  <appSettings>
    <!-- Cache -->
    <!-- 
    None = 0
    RuntimeCache = 10,
    ElastiCache = 20,
    Memcached = 30
    -->
    <add key="CacheType" value="10" />

    <!-- AWS-->
    <add key="AWSAccessKeyID" value="[Add your aws configuration here]" />
    <add key="AWSSecretKey" value="[Add your aws configuration here]" />
    <add key="AWSRegion" value="[Add your aws configuration here]" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>